<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/base.css">
</head>
<body class="content">
    <header id="link">
        <h1>Book</h1>
        <a id="a" href="../">home</a>
        <a id="a" href="../new">search book</a>
     </header>
     <section>
        <div>
            <img src=<%= task.imag %>>
<li>
    <%= task.title %>
</li>

<li>
    <%= task.author %>
</li>

<li>
    <%= task.isbn %>
</li>

<li>
    <%= task.description %>
</li>
        </div>
    </section>

        <form action="/deleteTask/<%=task.id%>?_method=delete"  method="POST">
            <button>Delete Task</button>
          </form>
    <button id="updateBtn">Update</button><br>
    <section id="updateForm">
        <form action="/updateTask/<%=task.id%>?_method=put" method="POST">

            <input type="text" name="title" value="<%=task.title%>"><br>

            <input type="text" name="author" value="<%=task.author %>"><br>

            <textarea name="description" cols="30" rows="10"><%=task.description %></textarea><br>

            <button type="submit">update Task</button><br>

          </form>
        </section>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/app.js"></script>
</body>
</html>