<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/base.css">
</head>
<body class="content">
    <header id="link">
        <h1>Book</h1>
        <a id="a" href="./">home</a>
        <a id="a" href="./new">search book</a>
     </header>
    
    <section>
    <% books.forEach(book=>{ %>
        <div>
            <img src=<%= book.imag %> alt="">
<li>
    <%= book.title %>
</li>

<li>
    <%= book.author %>
</li>

<li>
    <%= book.isbn %>
</li>

<li>
    <%= book.description %>
</li>

<form action='/Books' method="POST">
    <input name="title" value="<%= book.title %>"  hidden>
    <input name="author" value="<%= book.author %>"  hidden>
    <input name="description" value="<%= book.description %>"  hidden>
    <input name="imag" value="<%= book.imag %>"  hidden>
    <input name="isbn" value="<%= book.isbn %>"  hidden>
    <button type="submit">Select This Book</button>
</form>
 </div>
    <%}) %>

    </section>

    
</body>
</html>